* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-custom {
  background-color: lab(43.63% -42.89 32.1);
  z-index: 1050;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #ffffff !important;
}

.navbar-custom .nav-link:hover {
  color: #d4edda !important;
}

.navbar-custom .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carousel-item img {
  object-fit: cover;
  filter: brightness(0.8);
}
  .text-primary-custom {
    color: var(--primary-color) !important;
    font-weight: 700;
  }

  .text-secondary-custom {
    color: var(--secondary-color) !important;
  }

  .card-custom {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); /* Sombra suave */
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  /* Efecto al pasar el mouse sobre las tarjetas */
  .card-custom:hover {
    transform: translateY(-10px); /* Sube la tarjeta ligeramente */
    box-shadow: 0 10px 25px rgba(46, 125, 50, 0.2); /* Sombra verde */
  }

  .icon-box {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    display: inline-block;
  }

  .btn-custom {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  .btn-custom:hover {
    background-color: #1b5e20;
    color: #ffffff;
    transform: scale(1.02);
  }

  .accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: rgba(46, 125, 50, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  }

  .accordion-button:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 117, 18, 0.963);
  }

  #contacto {
    background-color: rgb(14, 130, 52) !important;
  }

  #contacto .text-white-50 {
    color: #adb5bd !important;
  }

  #contacto .card-body {
    border-radius: 10px;
    border: 1px solid rgba(19, 81, 40, 0.689) !important;
  }

